<%= stylesheet_link_tag 'users/index' %>
<%= render 'reuse/user_profile', user: @user %>

<div class='user-page'>
  <h3>Bio</h3>
  <p><%= @user.bio %></p>
</div>

<% @user.current_posts.each_with_index do |post, index| %>
  <div class='user-page'>
    <h3>Post <%= index + 1 %></h3>
    <a href="/users/<%= post.author_id %>/posts/<%= post.id %>">
      <p class='post-title'><%= post.title %></p>
    </a>
    <p><%= post.text %></p>
    <span class='stats'>
      Comments: <%= post.comment_counter || 0 %>, Likes: <%= post.likes_counter || 0 %>
    </span>
  </div>
<% end %>

<% if @user.posts.size < 4 %>
  <%= render partial: 'reuse/add_post', locals: { user: @user } %>
<% end %>

<% if @user.posts.size > 3 %>
    <!-- Show "See All Posts" button when the user has more than three posts -->
  <div class='post-button-container'>
    <a href="/users/<%= @user.id %>/posts">
      <button class='all-posts-button'>See all posts</button>
    </a>
  </div>
<% end %>

