<%= stylesheet_link_tag 'users/index' %>
<%= render 'reuse/user_profile', user: @user %>

<% if flash[:success] %>
  <div class="flash-message success">
    <%= flash[:success] %>
  </div>
<% elsif flash[:error] %>
  <div class="flash-message error">
    <%= flash[:error] %>
  </div>
<% end %>

<% if @posts.empty? %>
  <h4 class='center-text'>No post yet</h4>
<% end %>

<% @posts.includes(:comments).each_with_index do |post, index| %>
  <div class='all-posts-container'>
    <h3>Post <%= index + 1 %></h3>
    <a href="/users/<%= post.author_id %>/posts/<%= post.id %>">
      <p class='all-posts-title'><%= post.title %></p>
    </a>
    <p><%= post.text %></p>
    <span class='all-posts-stats'>
      Comments: <%= post.comment_counter || 0 %>, Likes: <%= post.likes_counter || 0 %>
    </span>
  </div>
    <% if post.recent_comments.any? %>
      <div class='all-posts-comments'>
        <% post.recent_comments.each do |comment| %>
          <p><%= comment.author.name %>: <%= comment.text %></p>
        <% end %>
      </div>
    <% end %>
<% end %>

<a href="<%= user_posts_new_path(@user) %>">
  <button class='pagination-btn'>Add a post</button>
</a>       

