<% if flash[:success] %>
  <div class="flash-message success">
    <%= flash[:success] %>
  </div>
<% end %>

<div class='post-details-cont'>
  <div class='each-post-container'>
  <div class='name-stat-container'>
    <h4>Post by <%= @post.author.name %></h4>
    <span class='each-post-stat'>
      Comments: <%= @post.comment_counter || 0 %>, Likes: <%= @post.likes_counter || 0 %>
    </span>
  </div>
  <p class='each-post-title'><%= @post.title %></p>
  <p><%= @post.text %></p>
  </div>
  <div class='interaction-container'>
    <%= form_with model: @like, url: user_post_likes_create_path(user_id: @post.author_id, id: @post.id) do |form| %>
      <%= form.submit "Like", class: 'like-button' %>
    <% end %>
    <% if can?(:destroy, @post) %>
      <%= button_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" }, class: 'like-button' %>
    <% end %>
  </div>
  
  <% if @post.all_comments.any? %>
    <div class='all-posts-comments2'>
      <% @post.all_comments.each do |comment| %>
        <p><%= comment.author.name %>: <%= comment.text %></p>
        <% if can?(:destroy, comment) %>
          <%= button_to "Delete comment", post_comment_path(@post, comment), method: :delete,  params: { comment_id: comment.id }, data: { confirm: "Are you sure you want to delete this post?" }, class: 'like-button' %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<a href="<%= user_comment_new_path(user_id: @post.author_id, id: @post.id) %>">
  <button class='pagination-btn add-comment'>Add a comment</button>
</a>
